{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}

{% if form_message %}
<p>{{form_message}}</p>
{% endif %}

<form id="form-change-password" class="form" action="{% url 'change-password' %}" method="post" novalidate>
    {% csrf_token %}
    <fieldset>
        <p>
            <label for="current-password">Current password</label>
            <input type="password" id="current-password" name="current-password" class="required" aria-required="true">
        </p>
        <p>
            <label for="new-password">New password</label>
            <input type="password" id="new-password" name="new-password" class="required password" aria-required="true">
        </p>
        <p>
            <label for="new-password-confirmation">Confirm new password</label>
            <input type="password" id="new-password-confirmation" name="new-password-confirmation" class="required" aria-required="true" equalTo="#new-password">
        </p>
        <p>
            <button>Submit</button>
        </p>
    </fieldset>
</form>

{% endblock %}

