{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<p>Invalid user/password</p>
{% endif %}
<p>Not registered? <a href="{% url 'register' %}">Create account</a></p>

<form id="form-login" class="form" action="{% url 'login' %}" method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}">
    <fieldset>
        <p>
            <label for="username">E-mail</label>
            <input type="text" id="username" name="username" class="required email" aria-required="true">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="required" aria-required="true">
        </p>
        <p>
            <a href="{% url 'password-reset' %}">Password reset</a>
        </p>
        <p>
            <button>Login</button>
        </p>
    </fieldset>
</form>

{% endblock %}

