{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% if form.errors %}
<p>User not registered in our database.</p>
{% endif %}

<form id="form-password-reset" class="form" action="{% url 'password-reset' %}" method="post" novalidate>
    {% csrf_token %}
    <fieldset>
        <legend>
            Specify your email address to receive instructions for resetting it.
        </legend>
        <p>
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" class="required email" aria-required="true">
        </p>
        <p>
            <button>Submit</button>
        </p>
    </fieldset>
</form>

{% endblock %}

