{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% if validlink %}
<form id="form-reset-confirm" class="form" action="" method="post" novalidate>
    {% csrf_token %}
    <fieldset>
        <legend>
            Register a new password below.
        </legend>
        <p>
            <label for="id_new_password1">New password</label>
            <input type="password" id="id_new_password1" name="new_password1" class="required password" aria-required="true">
        </p>
        <p>
            <label for="id_new_password2">Confirm new password</label>
            <input type="password" id="id_new_password2" name="new_password2" class="required" equalTo="#id_new_password1" aria-required="true">
        </p>
        <p>
            <button>Submit</button>
        </p>
    </fieldset>
</form>
{% else %}
<p><strong>ERROR:</strong> The password reset link was invalid, possibly because it has already been used.</p>
<p>Request a <a href="{% url 'password-reset' %}">new password reset</a>.</p>
{% endif %}

{% endblock %}
