<!--
For a proper email template feel free to use the Email Framework (https://github.com/rafael-rpa/email-framework) that includes a responsive template (tested and working across all major email clients) to be used as a boilerplate.
-->
<p>You are receiving this e-mail because you have requested a password reset.</p>
<p>Please go to the following page and choose a new password:</p>
{% block reset_link %}
<p>{{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
{% endblock %}
